<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="sharpenup.customgridview"
    android:versionCode="5"
    android:versionName="1.5.1">

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="23" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- Permissions -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <android:uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <android:uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <android:uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/tisha_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:replace="android:icon,android:theme">
        <activity
            android:name=".homewall"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".time_table"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Settings"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view_assign"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".viewtt_student"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".viewscores_student"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".testview_student"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".webview_student"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".srudatten_student"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".testmenu_student"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivityNew"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivityTeacher"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginActivity2"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="sharpenup.androidbegin.viewpagertutorial.view_atten"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ScheduleClass"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Entry"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="sharpenup.androidbegin.viewpagertutorial.Main"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="sharpenup.androidbegin.viewpagertutorial.marksfill"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="sharpenup.androidbegin.viewpagertutorial.ViewPagerAdapter3"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="sharpenup.androidbegin.viewpagertutorial.ViewPagerAdapter4"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="sharpenup.androidbegin.viewpagertutorial.view_scores"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AttendanceActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StudAtten"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".attenbuttons"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ChooseClassOrTest"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".testSchedule"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".testmenu"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".testview"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".assignfac"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".marks_assign_View"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".upload"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".webview"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".viewscores"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="sharpenup.worksheet.Wsubmission"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="sharpenup.worksheet.AdminWorksheet"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="sharpenup.worksheet.AddTopics"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="sharpenup.worksheet.WorksheetActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="sharpenup.worksheet.TeacherLogin"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="sharpenup.worksheet.TeacherSubmission"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="sharpenup.worksheet.TeacherCheck"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="sharpenup.worksheet.TeacherSelect"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="sharpenup.worksheet.Percent_submissions"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="sharpenup.worksheet.Percent_completions"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="sharpenup.worksheet.User"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="sharpenup.worksheet.UserLogin"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="sharpenup.previous.sharpenup.LoginData"
            android:configChanges="orientation|screenSize"
            android:label="SharpenUp"
            android:screenOrientation="portrait" />
        <activity
            android:name="sharpenup.previous.sharpenup.Pendings"
            android:configChanges="orientation|screenSize"
            android:label="SharpenUp"
            android:screenOrientation="portrait" />
        <activity
            android:name="sharpenup.previous.sharpenup.MainData"
            android:configChanges="orientation|screenSize"
            android:label="SharpenUp"
            android:screenOrientation="portrait" />
        <activity
            android:name="sharpenup.previous.sharpenup.buttons"
            android:configChanges="orientation|screenSize"
            android:label="SharpenUp"
            android:screenOrientation="portrait" />
        <activity
            android:name="sharpenup.previous.sharpenup.admin"
            android:configChanges="orientation|screenSize"
            android:label="SharpenUp"
            android:screenOrientation="portrait" />
        <activity
            android:name="sharpenup.previous.sharpenup.delete"
            android:configChanges="orientation|screenSize"
            android:label="SharpenUp"
            android:screenOrientation="portrait"
            android:theme="@style/WithoutBackground" />
        <activity
            android:name="sharpenup.previous.sharpenup.SearchActivity"
            android:configChanges="orientation|screenSize"
            android:label="Step Wise Filter"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="sharpenup.previous.sharpenup.SearchResults"
            android:configChanges="orientation|screenSize"
            android:label="SharpenUp"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NotificationManagement"
            android:configChanges="orientation|screenSize"
            android:label="SharpenUp"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ObserveTool"
            android:configChanges="orientation|screenSize"
            android:label="SharpenUp"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ObserveToolEntry"
            android:configChanges="orientation|screenSize"
            android:label="SharpenUp"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ChildReport"
            android:configChanges="orientation|screenSize"
            android:label="SharpenUp"
            android:screenOrientation="portrait" />
        <activity
            android:name=".synchronise"
            android:configChanges="orientation|screenSize"
            android:label="SharpenUp"
            android:screenOrientation="portrait" />

        <service
            android:name=".MyService"
            android:enabled="true" />

        <receiver android:name=".MyBroadcastReceiver" />

        <activity android:name=".NameCorrection"></activity>
    </application>

</manifest>